/bin/
/doc/
/tmp/
.directory
.idea/TP2.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
cmake-build-debug/CMakeFiles/3.8.2/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/TP2.dir/C.includecache
cmake-build-debug/CMakeFiles/TP2.dir/depend.internal
cmake-build-debug/CMakeFiles/TP2.dir/lib/
cmake-build-debug/CMakeFiles/TP2.dir/main.c.o
